<template>
  <v-container>
    <div class="about">
      <h1>This is an about page</h1>

      <h2>The Thing {{ this.thingId }}</h2>

      <v-progress-circular v-if="isLoading" color="primary" indeterminate />
      <v-alert v-else-if="error" type="error" text outlined>{{ error.message }}</v-alert>
      <div v-else>
        <pre>{{ thing }}</pre>
      </div>
    </div>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import { fetchThing } from '@/services/apiResource'

export default Vue.extend({
  data() {
    return {
      isLoading: false,
      thing: null,
    }
  },

  computed: {
    thingId() {
      return '123'
    },
  },

  created() {
    this.loadData()
  },

  methods: {
    async loadData() {
      this.isLoading = true

      try {
        this.thing = await fetchThing(this.thingId)
        this.error = null
      } catch (err) {
        this.thing = null
        this.error = err
      } finally {
        this.isLoading = false
      }
    },
  },
})
</script>
