<template>
  <v-container>
    <v-form ref="form" lazyValidation novalidate @submit.prevent="submit">
      <v-row justify="center">
        <v-col md="6">
          <v-text-field
            label="Test input"
            v-model="input.test"
            dense
            outlined
            :rules="[(value) => !!value || 'Required field']"
          />

          <v-btn type="submit" color="primary">
            <v-icon left>mdi-content-save-outline</v-icon>
            Submit
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      input: {
        test: '',
      },
    }
  },

  methods: {
    submit() {
      this.$refs.form.validate()
      console.log(this.input)
    },
  },
})
</script>
