<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer />

      <div id="nav">
        <v-btn to="/" text>Home</v-btn>
        <v-btn to="/about" text>About</v-btn>
      </div>

      <v-spacer />

      <v-btn href="https://github.com/vuetifyjs/vuetify/releases/latest" target="_blank" text>
        <span class="mr-2">Latest Vuetify Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main app>
      <router-view />
    </v-main>

    <v-footer>
      <v-container>
        <div class="text-center">Environment: {{ currentEnv }}</div>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

import { CURRENT_ENV } from '@/config'

export default Vue.extend({
  computed: {
    currentEnv() {
      return CURRENT_ENV
    },
  },
})
</script>

<style src="@/styles/main.css"></style>
